@font-face {
  font-family: 'Rubik';
  src:  url('~/assets/Rubik/Rubik-Light.woff2') format('woff2'),
        url('~/assets/Rubik/Rubik-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src:  url('~/assets/Rubik/Rubik-Regular.woff2') format('woff2'),
        url('~/assets/Rubik/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
